body {
    background: linear-gradient( rgba(0,0,0,0.3) , rgba(0,0,0,0.3)), url("../../images/bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
}

* {
	font-family: 'Armata', sans-serif;
	color: #FFFFFF;
}

h1 {
    text-align: center;
}

#contener {
    position:relative;
    background-color: rgba (0,0,0,0.7);
}

#center {
    position: absolute;
    top: 50%;
    height: 300px;
    margin-top: 100px;
}

footer {
    height: 25px; 
    margin-top: 10px;
    text-align: center;
    background: rgba(0,0,0,0.7);
}

#loginPanel {
    display: block;
}

#adminPanel {
    display: none;
}

#faultPanel {
    display: none;
}

#usersPanel {
    display: none;
}

#bikesPanel {
    display: none;
}

#stationsPanel {
    visibility: hidden;
    height: 0px;
}

#backPanel {
    display: none;
}

#bike {
    text-align: center;
}

#userIcon {
    color: black;
}

#keyIcon {
    color: black;
}

.menuItem {
    height: 100%;
    width: 100%;
    text-align: center;
    border-color: white;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
}

.menuItem:hover {
    background-color: rgba(255,255,255,0.5);
}

#menuBar {
    margin-top: 10%;
    overflow:hidden;
}

#backButton:hover {
    background-color: rgba(255,0,0,0.5);
}

.button{
        background-color: rgba(255,255,255,0.5);
}

#submitButton:hover {
    color: white;
    background-color: green;
}

#md label:hover {
    color:black;
}

#md label i:hover {
    color:black;
}

#button-default {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
    margin:0 auto;
    display:block;
}

#button-default:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

span {
    font-family: 'Armata', sans-serif;
	color: #FFFFFF;
}

#black
{
    color: black;
}

#gray
{
    color: rgba(211, 211, 211, 0.8);
}

#list {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 8px;
    height: 330px;
}

#list ul li {
    background-color: rgba(0, 0, 0, 0.5);
}

#bike-list ul li{
    background-color: rgba(0, 0, 0, 0.5);
}

#user-list ul li{
    background-color: rgba(0, 0, 0, 0.5);
}

#Panel-back {
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

#Panel-back:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#delete {
    position: relative;
    bottom: 8px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

#delete:hover {
    background-color: rgba(191, 0, 0, 0.5);
}

#status, #show-servis {
    bottom: 8px;
    background-color: rgba(150, 150, 150, 0.5);
    text-align: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

#show-service {
    display: none;
}

#show-servis:hover {
    background-color: rgba(200 , 200, 200, 0.7);
}

#button {
    background-color: rgba(0, 0, 0, 0.5); 
    border-color: white;
}

#button:hover {
     background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

#dropdown {
     background-color: rgba(0, 0, 0, 0.5); 
     border-color: white;
}

#dropdown:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}

#bikesTable {
    margin-top: 75px;
}

.table-hover tr td: hover {
    color: black;
}

.table tbody tr td, .table tbody tr th {
    background: rgba(0, 0 ,0 ,0.5);
    border-radius: 4px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

.scrollbar-bikePanel
{
	max-height: 200px;
	overflow-y: scroll;
}

.scrollbar-serviceList {
    max-height: 300px;
	overflow-y: scroll;
}

.scrollbar-orderTable {
    max-height: 300px;
	overflow-y: scroll;
}

.scrollbar-faultiesTable {
    max-height: 300px;
	overflow-y: scroll;
}

.scrollbar-usersTable {
    position: relative;
    margin-top: 60px;
    max-height: 450px;
	overflow-y: scroll;
}


.force-overflow
{
	min-height: auto;
}

#scroll-style::-webkit-scrollbar-track
{
	background-color: rgba(150,150,150,0.5);
    border-radius: 10px;
}

#scroll-style::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

#scroll-style::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
	border-radius: 10px;
	background-color: #555;
}

 .table tbody tr:hover td span {
    color:black;
}

.table tbody tr td i[id="red"] {
    color: rgba(155, 30, 30,1);
}

.table tbody tr td i[id="green"] {
    color: rgba(0,128,0,1);
}

.table tbody tr td i[id="yellow"] {
    color: rgba(230,230,0,1);
}

#description {
    min-height: 100px;
}

.blur-all {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}




h1.heading {
    padding:0px;
    margin: 0px 0px 10px 0px;
    text-align:center;
    font: 18px Georgia, "Times New Roman", Times, serif;
}

#google_map {
    width:1000px;
    height:600px;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
}

.marker-edit label {
    display:block;
    margin-bottom: 5px;
}

.marker-edit label span {
    width: 60px;
    float: left;
}

.marker-edit label input, .marker-edit label select {
    height: 24px;
}

.marker-edit label textarea {
    height: 60px;
}

.marker-edit label input, .marker-edit label select, .marker-edit label textarea {
    width: 60%;
    margin:0px;
    padding-left: 5px;
    border: 1px solid #DDD;
    border-radius: 10px;
} 

h1.marker-heading {
    color: #585858;
    margin: 0px;
    padding: 0px;
    font: 18px "Trebuchet MS", Arial;
    border-bottom: 1px dotted #D8D8D8;
}

div.marker-info-win {
    max-width: 250px;
}

div.marker-info-win p {
    padding: 0px;
    margin: 10px 0px 10px 0;
}

div.marker-inner-win {
    padding: 5px;
}

button.save-marker {
    border: none;background: rgba(0, 0, 0, 0);
    color: #00F;padding: 0px;text-decoration: underline;
    margin-right: 30px;
    margin-left: 10px;
    cursor: pointer
}

button.remove-marker {
    border: none;background: rgba(0, 0, 0, 0);
    color: #00F;
    padding: 0px;
    text-decoration: underline;
    cursor: pointer
}

div.gm-style-iw {
    overflow: hidden;
}

#inspectionDate input {
    color: black;
}

#expireDate input {
    color: black;
}